BasedOnStyle: Webkit
IndentWidth: 2
ContinuationIndentWidth: 2
PointerAlignment: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
SpaceAfterCStyleCast: true
